[2016-10-19 19:02] jeffsegal opened #1 "A little more complexity"
Using your example JSON, let's say that I wanted to return all attributes but only the `firstName` of `assignee`'s. Should I be able to specify that as `**,assignee{firstName}`? Or some other way? Or perhaps this isn't supported (yet)?

For what it's worth, when I use the above syntax, I end up with everything, so it seems like the `**` overrode the subsequent attribute filters.

BTW great job wit

[2016-10-19 19:17] bohnman commented on #1
@jeffsegal This is a great suggestion and shouldn't be too hard to implement.  I'll try to get to this soon.

[2016-10-20 17:07] bohnman commented on #1
@jeffsegal I have added the capability you requested.

To clarify, the filter logic now chooses the **most specific**  filter that matches the property.  Specificity is determined using the following logic:

- an exact name is the most specific
- a ** is the least specific
- a * is the second to least specific
- otherwise, the number of non-wildcard characters is counted, the higher the number, th

[2016-10-20 17:17] jeffsegal commented on #1
Very cool. Just to make sure I'm following correctly, when iterating through properties, the logic will look at the provided filter String for the most specific filter to that property and choose it, correct? E.g., when processing the `assignee` property, if the filter string is `**,foo`, it'll include the entire `assignee` object because `**` is the most specific match, but if it's `**,assignee{f

[2016-10-20 17:18] bohnman commented on #1
You got it.

[2016-10-20 17:24] jeffsegal commented on #1
Excellent. This should definitely work for us and thanks again.

[2016-10-20 17:34] bohnman commented on #1
No problem.  Closing issue.

[2016-10-20 17:34] #1 closed

[2016-10-21 01:34] bohnman opened #2 "Add the ability to expose metrics so that users can monitor cache statistics"
I would be great if there was a way for users of the library to get metrics about the various caches used in the system for monitoring and determining they should change the default values.

[2016-10-21 04:10] bohnman commented on #2
Implemented.

[2016-10-21 04:10] #2 closed

[2016-12-19 02:42] XiaoSK opened #3 "Filter match case"
Object: same as README.md

Filter:
`reporter|assignee{firstName,lastName},properties{priority,email},actions{user{firstName,lastName},id,text,type},id,issueDetails,issueSummary`

Only get id,issueDetails,issueSummary in result. Is there something wrong in my filter?

[2016-12-19 15:34] bohnman commented on #3
I actually get the correct json when I applied the filter you provided:

`
filter("reporter|assignee{firstName,lastName},properties{priority,email},actions{user{firstName,lastName},id,text,type},id,issueDetails,issueSummary");
 System.out.println(stringify());
`

prints

`
{
  "id": "ISSUE-1",
  "issueSummary": "Dragons Need Fed",
  "issueDetails": "I need my dragons fed pronto.",
  "reporter": {

[2016-12-25 13:25] XiaoSK commented on #3
[code]
[code]

[2016-12-25 19:12] bohnman commented on #3
Hmm...I'm still getting the right JSON even pasting your code:

[code]

prints

`
{"reporter":{"lastName":"Targaryen","firstName":"Daenerys"},"id":"ISSUE-1","assignee":{"lastName":"Mormont","firstName":"Jorah"},"properties":{"email":"motherofdragons@got.com","priority":"1"},"issueDetails":"I need my dragons fed pronto.","issueSummary":"Dragons Need Fed","actions":[{"id":null,"text":"I'm going to l

[2016-12-26 04:47] XiaoSK commented on #3
jackson-core@2.6.4

jackson-databind@2.6.4

jackson-annotations@2.6.0

[2016-12-26 06:51] #3 closed

[2017-02-24 16:13] abedultamimi opened #5 "applying filters on GET request along with other query parameters"
am trying squiggly with dropwizard integration but when i pass fields query parameter am not able to pass other query paramters.
 for example:
original call is /api/product?id=1
call am trying is:
/api/product?id=1&fields=id,name,price

this call works though:
/api/product?fields=id,name,price

[2017-02-24 16:52] bohnman commented on #5
A couple of questions

1) What version of dropwizard are you using?

2) What are you getting back in the response when you specify both the id and fields?  (eg. empty json or 404, etc.)

[2017-02-24 17:07] abedultamimi commented on #5
am using dropwizard 1.0
and i got 200 responses with an empty result

[2017-02-24 17:10] bohnman commented on #5
Could you please provide the json that you get when you just provide the id param and not the filter param?

[2017-02-24 17:21] abedultamimi commented on #5
{
  "id": "1",
  "name": "dhc default",
  "group": "individual",
  "price": "175.0",
  "creator": { "id": "1", "name": "admin"}
}

[2017-02-24 18:22] bohnman commented on #5
I can't replicate the issue.  I have attached an example project that shows it working with Dropwizard 1.0.0

[helloworld.zip](https://github.com/bohnman/squiggly-filter-jackson/files/800134/helloworld.zip)

To run the example:

- unzip
- change to directory
- mvn package
- java -jar target/helloworld-1.0-SNAPSHOT.jar
- Go in your browser or curl http://localhost:8080/hello-world?name=foo&fields=c

[2017-02-24 20:26] abedultamimi commented on #5
well, many thanks for the detailed example. you are right the issue my normal response comes wrapped as results and rows count as map style
{"results":{"rows":6,"data":[{"id":1,"name":"dhc default" ...

so i corrected my query and things worked as expected:
/api/product?id=1&fields={rows,data{id,code,name,type{name}}}

Thanks again, one more question is there is any away to put in the excluded fie

[2017-02-24 20:43] bohnman commented on #5
Here's something to consider.  We have a similar situation where I work where we wrap all our list responses in a class called ListResponse.  The json looks like: {"items": [{"id":1}, {"id":2}]}.   Instead of always having to specify fields=items{id}, we customize Squiggly so that we only have to specify fields=id.

Here's the code to do this if you wanted to do something similar:

[code]

As far

[2017-02-25 13:56] #5 closed

[2017-03-06 10:57] tud opened #6 "reset"
Hello,

I'm using Spring Boot and I'd like to achieve this:
I've several RestControllers and I'd like to use Squiggly only if the user adds "?fields=id,code" to URL (it works) otherwise I'd like to have the default behavior i.e. no filter

The problem is that when the user use a filter with some fields, these fields are used through ALL RestControllers from that time :-(
Is it possible to filter o

[2017-03-06 14:31] bohnman commented on #6
Actually, the real problem, is the following code in BoxResource.java

[code]

You only want to initialize Squiggly once during application startup and the init method that takes a filter string, which is really meant for testing or just trying Squiggly out.

However, I do see that you want to wrap the fields with content{} when the response is a Page object.  To do this, you can use a hook method

[2017-03-06 14:48] tud commented on #6
Thanks for your answer but I'm not able to let it work :-(

this is the configuration

public class SquigglyConfiguration {
	@Bean
	public ObjectMapper objectMapper() {
		return Squiggly.init(new ObjectMapper(), new RequestSquigglyContextProvider() {
			@Override
			protected String customizeFilter(String filter, HttpServletRequest request, Class beanClass) {
				System.out.println("====> customiz

[2017-03-06 14:56] bohnman commented on #6
Are you sure that your objectMapper() method of the SquigglyConfiguration class is getting called?  Do you need to annotate that class with @Configuration?

[2017-03-06 14:59] bohnman commented on #6
If that doesn't work.  Try annotating annotating the objectMapper() method with @Primary like so:

[code]

[2017-03-06 15:36] tud commented on #6
you are right. I forgot @Configuration :flushed: or better, the second time I deleted it...
now I've another problem:
some fields of the ResponseEntity are lazy loaded and I receive an exception about it
any idea how I can solve this problem?

org.springframework.http.converter.HttpMessageNotWritableException: Could not write content: failed to lazily initialize a collection of role: domain.Projec

[2017-03-06 15:59] bohnman commented on #6
can you post your pom.xml?

[2017-03-06 16:02] tud commented on #6
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>cesp</groupId>
	<artifactId>CESP</artifactId>
	<version>0.0.2-SNAPSHOT</version>
	<packaging>jar</packaging>

[2017-03-06 16:06] bohnman commented on #6
OK.  I haven't used hibernate/JPA with Spring Boot, but you could try using OpenEntityManagerInViewFilter instead of the default OpenEntityManagerInViewInterceptor.

To do this:

1) Disable the OpenEntityManagerInViewInterceptor, by setting the following property in your application configuration

[code]

2) Add the OpenEntityManagerInViewFilter, making sure that it is ordered **before** the squig

[2017-03-06 16:11] tud commented on #6
I don't want to use OpenEntityManagerInViewFilter, it's supposed to be an antipattern :-(
https://vladmihalcea.com/2016/05/30/the-open-session-in-view-anti-pattern/

[2017-03-06 16:18] tud commented on #6
I'm using this module https://github.com/FasterXML/jackson-datatype-hibernate to manage hibernate with jackson

[2017-03-06 16:38] bohnman commented on #6
Do you always get this exception or only when you specify the fields parameter on the query string?

[2017-03-06 16:39] tud commented on #6
always
just calling an api

[2017-03-06 16:44] bohnman commented on #6
Did you look at this thread?

https://github.com/FasterXML/jackson-datatype-hibernate/issues/25

[2017-03-06 16:51] tud commented on #6
yes, but it's closed and not using your library I don't have any issue
I can retrieve the whole object without loading children

this is my json with postman for api/boxes

{
  "content": [
    {
      "id": 375,
      "createdBy": "xxxx",
      "createdDate": "2016-06-29T20:47:02.675+02:00",
      "lastModifiedDate": "2016-06-29T22:48:25.828+02:00",
      "owner": "user1@company1.com",
      "cod

[2017-03-06 18:16] bohnman commented on #6
OK.  I think what you are saying is that you want squiggly to ignore introspecting fields that are lazy-loaded proxies so they don't cause session exception.   I'll need to think about how to best implement this and I'll comment on this issue when I a fix (should be within the next couple of days).

[2017-03-06 18:25] bohnman commented on #6
Wait.   I think I've got it!

You are not registering the Hibernate5Module with the ObjectMapper

[code]

[2017-03-06 19:12] tud commented on #6
you are right!!

I'm using this code for auto discovery all modules

[code]
thank you very much for your help!!

[2017-03-06 19:15] bohnman commented on #6
No problem.  Closing issue.

[2017-03-06 19:15] #6 closed

[2017-04-26 11:40] frankie-2e opened #7 "Filter not working with Spring boot and HATEOAS"
Hi,

I wrote a simple [POC application](https://github.com/frankie-2e/squiggly-poc) using your [Spring Boot example](https://github.com/bohnman/squiggly-filter-jackson/tree/master/examples/spring-boot) as a template.

In addition to your example project, the project I wrote uses the _spring-boot-starter-hateoas_ dependancy, needed in order to generate the links in the REST response.

After startin

[2017-04-26 14:35] bohnman commented on #7
I was able to reproduce the issue.  I should have a workaround for you in the next 24 hours.

[2017-04-26 23:31] bohnman opened #8 "Add support for for @JsonUnwrapped"
Squiggly doesn't work for objects that are annotated with @JsonUnwrapped.  It would be nice to support this annotation.

[2017-04-27 00:02] bohnman commented on #7
Frankie,

Here are the steps to get Squiggly to work with your project:

Upgrade your squiggly dependency to version 1.3.2

[code]

Change your Application.java to look like the following:

[code]

This will now allow you to filter individual resources.  However, I encountered two additional issues that you should be made aware of:

1) Selecting properties in HATEOS link fields do not work.  For e

[2017-04-27 08:26] frankie-2e commented on #7
Hi Ryan,

Thank you very much for the quick action and detailed response, as well as the tips about how to use _curl_ more efficiently!

Registering Squiggly against all ObjectMapper instances definitely solves the issue of filter being ignored. However, this is only the part of the problem, as the @JsonUnwrapped annotation is still not supported.

Is there any indication about when a version supp

[2017-04-27 13:08] bohnman commented on #7
I'll probably take a look this weekend.  But, don't hold me to it!  :-)

[2017-04-29 00:03] bohnman commented on #8
implemented in 1.3.3

[2017-04-29 00:03] #8 closed

[2017-04-29 00:07] bohnman commented on #7
Frankie,

I have implemented support for @JsonUnwrapped.

1) update your dependency to version 1.3.3

2) the following filter should work

[code]

Let me know if this works for you and I'll go ahead and close this issue.

~Ryan

[2017-05-01 15:16] bohnman commented on #7
@frankie-2e  I'm going to assume this is fixed.  If you are still having trouble, please re-open this issue.

[2017-05-01 15:16] #7 closed

[2017-05-02 13:32] frankie-2e commented on #7
Hi Ryan,

Thanks a million for the quick action and fix!

I wasn't checking the status over the weekend, but can now confirm all of the problems I described in this issue are now fixed.

Best regards,
Frankie

[2017-05-02 15:21] bohnman commented on #7
@frankie-2e  excellent!  Happy Squiggling!

[2017-05-03 16:54] zyflix opened #9 "Support for @JsonView Jackson annotation"
Our POJO/Models already used @JsonView annotation to filter fields. We want to add Squiggly in our application to enhance existing solution (dynamically filter the fields) , but it seem Squiggly ignore @JsonView annotation. Do you have any solution for this issue ?

[2017-05-03 17:31] bohnman commented on #9
Trying to make sure I understand what you are saying.

Give the following setup:

[code]

You would like to be able to specify something like:
[code]

This would result in something the following:

[code]

Is this a correct assumption?

[2017-05-04 04:46] zyflix commented on #9
I would like to use Squiggly as second level filtering. Based on example below:

Country model with JsonView annotation
[code]
Currency model with JsonView annotation
[code]
JSON Views setup
[code]
We use this code to register a serializer for Page object
[code]
In controller we add @JsonView(Views.AFCCtry.class) annotation to return the desired output
[code]
Desired output
[code]
Now we would lik

[2017-05-04 12:31] bohnman commented on #9
Can you please provide the code where you initialize Squiggly?

[2017-05-04 14:24] zyflix commented on #9
Code to initialize Squiggly:

[code]

[2017-05-04 15:32] bohnman commented on #9
Are you getting an error message like the following?

[code]

[2017-05-05 09:29] zyflix commented on #9
One of the problem we are facing is that non-annotated fields or annotated fields with different @JsonView still get serialized by Squiggly. Further investigation, we facing similar problem using Jackson only when we set `spring.jackson.mapper.DEFAULT_VIEW_INCLUSION=true` in `application.properties`. Using or set to `spring.jackson.mapper.DEFAULT_VIEW_INCLUSION=false` will produce expected output.

[2017-05-05 14:48] bohnman commented on #9
I have released version 1.3.4, which fixes a NullPointerException when using @JsonView.  However, I'm not sure this actually addresses your issue.

I have attached a sample Spring Boot project, which uses @JsonView.  It appears to work regardless  of what value you set for spring.jackson.mapper.DEFAULT_VIEW_INCLUSION.

If upgrading to version 1.3.4, does not fix the issue for you, please modify th

[2017-05-09 11:50] bohnman commented on #9
Hi @zyflix, just checking in to see if you had a chance to try version 1.3.4 as described above.

[2017-05-10 15:21] zyflix commented on #9
Hi @bohnman, I got caught up with work lately. I will try it out the next few days.

[2017-05-16 13:43] bohnman commented on #9
I'm going to assume this issue is resolved.  If it is not, please re-open this issue.

[2017-05-16 13:43] #9 closed

[2017-05-27 06:36] eagoo opened #10 "is this support scala jackson-module"
squiggly filter jackson support scala class and case class ?

[2017-05-30 13:28] bohnman commented on #10
Squiggly currently doesn't support scala constructs.  However, I would welcome contributions!

[2017-08-02 22:06] SteveNewhouse opened #11 "Trouble with nested arrays"
Hi there.  Great library- thanks for making it!

We have a response that is structured as follows:

[code]

We're using a default filter wrapper like this `"meta,result{%s}"`, so any filters passed in get substituted in.

I cannot figure out how to filter within the payload array.  I've tried all sorts of things, including `payload{uuid}`, `payload[uuid]`, `payload.uuid`, etc with no luck.  What a

[2017-08-02 22:07] SteveNewhouse commented on #11
Note the result of the examples I showed is just no filtering at all.

[2017-08-03 13:34] bohnman commented on #11
Could replace Squiggly initialization with the following substituting new ObjectMapper() with the object mapper you are using and then provide the result of the print statement?

[code]

[2017-08-03 13:43] jeffsegal commented on #11
We have a somewhat similar response format, except with one less level (e.g., instead of `result.payload` we just have `payload`). This means that if we wanted to filter on `createdOn`, our filter String would look like `**,result[createdOn]`.

I'm guessing you could do accommodate your additional level by using `**,result.payload[createdOn]`. The key is the `**` wildcard.

[2017-08-03 14:14] bohnman commented on #11
Yes.  You can use customizeFilter to automatically wrap the filter from the query string with "**,result[]" so /some/url?fields=createdOn  becomes "**,result[createdOn]".

Does this resolve your issue?

[2017-08-03 14:17] #10 closed

[2017-08-03 20:47] SteveNewhouse commented on #11
Yes, including "**," does actually resolve this...  Thank you very much!

[2017-08-03 20:47] #11 closed

[2017-09-29 06:09] sheldon-sminq opened #12 "How to modify filters"
We are using the squiggly filter for partial api responses, our base payload consists of a wrapper json

[code]

To use the filters we have to set **fields=status.fieldName** for this to work. Is there a way to include the status. by default so the api user can just use filter **fields=fieldName**?.

[2017-09-29 06:24] sheldon-sminq commented on #12
got it to work

[code]

[2017-10-02 13:42] alexcrisafi opened #13 "Partial object after filter"
I have the following test:

`import com.fasterxml.jackson.annotation.JsonFormat;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.github.bohnman.squiggly.Squiggly;
import com.github.bohnman.squiggly.util.SquigglyUtils;
import org.joda.time.LocalDateTime;
import org.junit.Before;
import org.junit.Test;

import java.io.IOException;

[2017-10-02 14:02] bohnman commented on #13
Hi Alex,

In order to get an empty address object, you would set your filter to "details.address{}" or "details.address[]".  By default, Squiggly includes what it calls base fields, which are fields that are not annotated with a @PropertyView annotation.

However,  you did uncover a bug.  I was expecting to see all of the fields printed.  It appears that when a property is annotated with @JsonProp

[2017-10-03 01:50] bohnman commented on #13
@alexcrisafi I just released version 1.3.6, which will now consider `@JsonProperty` annotations.

Also, you can disable including "base" fields on nested objects by default by setting `filter.implicitlyIncludeBaseFields=false` in squiggly.properties.

Please let me know if this resolves the issue for you.

[2017-10-03 10:16] alexcrisafi commented on #13
Awesome! Thank you Ryan!

[2017-10-03 10:24] GiulianoFranchetto opened #14 "Both Squiggly filter and Jackson serializer"
Hi,

I'm trying to integrate Squiggly in our spring boot application, where we use a bunch of custom serializers.

Apparently, we can't make both the filter and our serializers live together, as only one is called. For example, when I enable a `JsonSerializer<User>`, adding `?fields=... ` in the URL does nothing.

If I disable my serializer, Squiggly does its job.

Is it possible to make both work

[2017-10-03 10:32] #13 closed

[2017-10-03 13:31] bohnman commented on #12
@sheldon-sminq Did you mean to reopen this issue? I just checked and it still works in the current version.

[2017-10-03 13:36] sheldon-sminq commented on #12
@bohnman the above for nested filters did not seem to work so i changed it to

[code]

[2017-10-03 13:36] sheldon-sminq commented on #12
now things are working fine.

[2017-10-03 13:41] #12 closed

[2017-10-03 13:41] bohnman commented on #12
@sheldon-sminq   Right.  The dot syntax is more limited and will never cover all use cases.  You are correct in switching to the bracket syntax.

[2017-10-03 13:43] bohnman commented on #14
@GiulianoFranchetto I would be happy to look into this.  Would you provide me with a standalone example exhibiting this behavior?  It would be a great help.

Thanks!

~Ryan

[2017-10-03 17:17] GiulianoFranchetto commented on #14
@bohnman Hi!

I created a small project to show the behaviour: see [here](https://github.com/GiulianoFranchetto/squiggly-jackson)

By default, spring adds the `TestSerializer`. If you request localhost:8090, you should see `{"a":"a","c":"c"}`

If you request   localhost:8090?fields=a, the response remains the same.

If you comment the line `@JsonComponent` of `TestSerializer` and rerun the server,

[2017-10-03 20:21] bohnman commented on #14
@GiulianoFranchetto Squiggly is implemented as a PropertyFilter.  The problem is that when you use JsonGenerator jgen directly in your serializer, you are bypassing the filter.

Unfortunately, there is no good answer without rewriting your serializer or somehow using a custom JsonGenerator (which seems like it would be very error prone).

If you were willing to rewrite your serializer, you could d

[2017-10-04 06:12] GiulianoFranchetto commented on #14
@bohnman I just rewritted my serializers, and everything is working fine now.

Maybe we could add a section in the ReadMe or wiki, as adding Squiggly may not work on already existing projects using serializers?

Thank you for your help !

[2017-10-04 14:47] bohnman commented on #14
@GiulianoFranchetto I've added a Limitations section to the README that describes this particular scenario.

[2017-10-04 14:47] #14 closed

[2017-10-05 14:11] laur89 opened #15 "spring-boot: default MappingJackson2HttpMessageConverter not using pre-configured ObjectMapper"
When we don't explicitly create our own `MappingJackson2HttpMessageConverter`, using pre-initialized `ObjectMapper`, then the converter provided by boot will be built with mapper that apparently doesn't get initialized, meaning the squiggly filter is not registered.

Should we always define our own converter bean?

[2017-10-05 15:32] laur89 commented on #15
Nah man, all is good. Just wanted to double-check, as documentation & examples didn't work as I'd expect boot to work. I'd recommend users define their own converters from a `@Configuration` class:

[code]

[2017-10-05 15:46] bohnman commented on #15
Excellent.  Glad you have a solution!

~Ryan

[2017-10-05 15:46] #15 closed

[2017-12-06 18:13] bsara opened #16 "How does squiggly access fields?"
How does Squiggly access fields on an object that is to be serialized to JSON, does it use reflection to get the field value directly, use the field's getter, or not handle this at all and just allow Jackson to handle the retrieval of values?

I ask because I was hoping to use this library in conjunction with Spring data JPA. However, I always get `null` when filtering on a lazy loaded nested obje

[2017-12-06 22:38] bohnman commented on #16
Squiggly does not access fields/getters on objects.  Squiggly is implemented as a Jackson PropertyFilter, specifically a SimpleBeanPropertyFilter, where Jackson calls SquigglyPropertyFilter.include with essentially the name of the property and the method returns true/false on whether to include that property.   The SquigglyFilter does not have access to the values of the object nor is it even awar

[2017-12-10 18:20] bohnman commented on #16
@bsara - I have created an example that uses the Jackson Hibernate module to not include lazy collections by default unless you specify a Squiggly filter expression.  Please note that this required a slight code change to Squiggly, so you will need to upgrade your project to use version 1.3.7.

The example can be found [here](https://github.com/bohnman/squiggly-filter-jackson/tree/master/examples/

[2017-12-12 16:57] bsara commented on #16
@bohnman first of all, thank you so much for the quick response!

I actually ended up running through the squiggly source and learned for myself what you stated about how everything works. I realized that my problem was actually caused because I was using the Jackson Hibernate Module. I ended up being able to fix my issue if I enabled "force lazy loading" in the Hibernate module. We initially did

[2017-12-12 16:57] #16 closed

[2017-12-12 17:07] bohnman commented on #16
Glad it works for you.  The example I provided should allow you to disable force lazy loading in the Hibernate module, but still work the way you want.

[2017-12-14 21:41] bsara commented on #16
Cool. thanks!

[2017-12-31 04:44] XPLOT1ON opened #17 "unspecified field not return for exclude filtering method"
I have a JSON that looks something like this. A list of objects.
When I do exclude filter such as `?fields=-createdDate,-createdBy.createdDate,-createdBy.lastModifiedDate,-lastModifiedDate,-modifiedBy` only `createdBy` is return for each objects, not `id`, `name`, `price` etc.

If however, I include `**` at the beginning of the filter, the expected result is returned.
`?fields=**,-createdDate,-cre

[2018-01-02 02:18] bohnman commented on #17
Good catch!  I have released 1.3.8, which I believe should fix this issue.  One note, when all fields specified are negated, it implies ```base``` and not ```**```.  A subtle difference, but I thought I'd point it out.  Please close this issue when you confirm it is fixed.  Thanks!

[2018-01-02 19:07] #17 closed

[2018-01-09 11:13] mas222r opened #18 "Not able to filter on Array"
Hi,

I am struggling to retrieve the Array elements in a given json. Could you please help me in resolving this.

for an example i have below json:

{
    "store": {
        "book": [
            {
                "category": "reference",
                "author": "Nigel Rees",
                "title": "Sayings of the Century",
                "price": 8.95
            },
            {

[2018-01-09 13:21] bohnman commented on #18
Filtering arrays by their indices is not possible today.  Squiggly is implemented as a Jackson PropertyFilter which doesn't expose array index information.

However, I will investigate to see if there's a way to make this possible for a future version of Squiggly.

[2018-01-09 14:21] spartabantam commented on #18
That would be incredibly useful

[2018-01-10 11:59] passionate-developer commented on #18
yep, it is a great library bohnman. It will be very useful if we can have arrays implementation for this library as posted by mas222r user above.

Do you have any plans when the new release will be available with this implementation? Thanks

[2018-01-10 15:45] bohnman commented on #18
Did some investigation into a solution last night.

The Good News:  It is possible!  Yay!!!!
The Bad News:  It involves using reflection monkey patch some Jackson code to make it work, which means it's more susceptible to compatibility changes.

As far as timeline, I'm thinking within a month, but don't hold me too that.  I have several ideas for a 2.0 version of Squiggly and this will most likely

[2018-01-10 23:59] bohnman opened #19 "Add support for functions"
Add support for calling functions on field names/values

Example:

issue.actions.limit(5)[type]  -> select the first 5 elements of the actions list, only selecting their type field

Some functions could be
- limit
- range
- replace
- sort

There would be some capability for registration of custom functions

[2018-01-11 00:00] bohnman commented on #18
I created a more general issue that should handle this use case:  #19

[2018-01-11 00:04] bohnman opened #20 "Make Squiggly more Kotlin-Friendly"
Make Squiggly more Kotlin-Friendly

This includes:
- adding `@NotNull` and `@Nullable` annotations
- adding a Kotlin Builder for configuring squiggly

[2018-01-11 00:06] bohnman opened #21 "Initialize Squiggly using a builder pattern"
The current way to initialize squiggly is not very flexible.  A builder pattern would be nice.

[2018-01-11 00:09] bohnman opened #22 "Make SquigglyConfig and SquigglyMetrics instances instead of singletons"
Singletons suck.  Let's try to make them instances if possible.

[2018-01-11 00:12] bohnman opened #23 "Add support for variables"
Add support for variables, like the following:

`fields=foo,:bar`

The actual value would be resolved using a registered variable resolver, like getting the values using the query string

[2018-01-11 00:15] bohnman opened #24 "Add support for saved filters"
Add ability to save a filter by name and reference it later, something like:

`Squiggly.addSavedFilter("myFilter", "id,name");`

Then reference it later

`?fields=myFilter`

[2018-01-11 00:18] bohnman opened #25 "Make Java 8 the base JDK version"
Kylo Ren says "Let the past die", so in that spirit I would like to eliminate support for Java 7.

[2018-01-11 00:20] bohnman opened #26 "Move serialize methods out of SquigglyContextProvider"
Move serialize methods out of SquigglyContextProvider.  It belongs in a different class/interface

[2018-01-11 09:36] mas222r commented on #18
Million thanks :) . This will reduce my lengthy code now.

[2018-01-11 12:06] passionate-developer commented on #19
great, please let us know when it can be ready. it will be extremely helpful :)

[2018-01-11 14:35] bohnman opened #27 "Create a Spring WebFlux example"
Create a Spring WebFlux example

[2018-01-16 10:16] speedornothing opened #28 "a simpler way to integrate squiggly-filter-jackson with spring boot"
All i need to do is the configs below:

[code]

[2018-01-16 17:21] bohnman commented on #28
Hi @speedornothing,

I originally did have a simpler configuration ([see here](url)), but I ran into an issue in one of my work projects.  I never tried configuring the MappingJackson2HttpMessageConverter directly.  I'll try it out and if it works out with my use case at work, I'll go ahead and update the example.

Thanks!

[2018-01-17 14:56] mas222r opened #29 "exclude filter not working when json has array and nested arrays with in the array"
Hi,

As my current business complex json filter requirement i have mentioned the below original json how it looks and how the json looks after filter using exclude(-).

**original json :**
 {
"myPersonInfo":[
      {
      "myId":2,
	  "myDetailsInfo": [
	     {
		 "myTitle": "Mr.",
	     "myNickName": "testPerson",
		 "myBirthDate": "2013-03-09"
		 }
	  ],
	  "myDetailsInfo1": [
	     {
		 "myTit

[2018-01-17 15:46] bohnman commented on #29
Thanks for pointing this out.  This is definitely a bug.  I'll work on fixing it soon!

[2018-01-19 15:38] mas222r commented on #29
Hi,
I don't know whether i need to ask this... at what time this defect will get fix??

[2018-01-19 16:17] bohnman commented on #29
Maybe this weekend.  I work on this in my free time, so it just depends if I have free time  :-)

[2018-01-22 14:58] bohnman commented on #29
didn't quite work out this weekend...I'll try in the next couple of days.

[2018-01-22 15:59] mas222r commented on #29
i got one more scenario **where nested objects excludes also not working** . please find the sample, expected, and actual results below.

**sample original json** :
 {
	"grId": 500018,
	"createDate": "2014-09-12",
	"thesis": {
		"topic": "UNUSED",
		"numberOfThesis": 14,
		"dateOfLec": "2015-01-09",
		"identifier": {
			"identifierType": "id",
			"identifierValue": "id"
		}
	},
	"latestThesisId":

[2018-01-27 02:26] bohnman commented on #29
Hi @mas222r ,

I got around to addressing this issue.  I have it fixed in master.  Do you want to try it out before I cut a new release?

~Ryan

[2018-02-18 01:11] bohnman opened #30 "Add ability to specify a custom location for configuration"
For example, a Spring app could get configuration from the environment.

[2018-02-20 15:06] bohnman commented on #18
UPDATE: I was finally had some time over the weekend to work on Squiggly 2.0.  I have most of the features completed.  I expect a release in 1 to 2 weeks.  I'll keep you posted!

[2018-02-20 17:24] passionate-developer commented on #18
Great news. I will wait for the release package. Hope the inside array fix is resolved :) - Thanks

[2018-02-20 17:33] bohnman commented on #18
@passionate-developer Are you referring to issue #29? If so, I already have fix in master and can release it if you'd like it now.

[2018-02-20 20:18] #25 closed

[2018-02-20 22:11] passionate-developer commented on #18
I was referring to issue 18. I was having issue where both exclude and include for array indexes were not working e.g I couldn't do array[n] to give me just n element or -array [n] to exclude only array [n] element as described by mas222r user above.

[2018-02-20 23:46] bohnman commented on #29
I just release version 1.3.9 which fixes this issue.  Closing.

[2018-02-20 23:46] #29 closed

[2018-02-21 15:38] bohnman commented on #18
@passionate-developer -  In 2.0, the way to manipulate arrays will be through the use of functions.

There will be a number of built-in functions.  For example, to get a simple subset of an array/list, you will be able to use the slice function:

``fields=friends.slice(0, 2)``

In the case above, you would get a new array, with element 0 and element 1

There most likely be a more complicated versi

[2018-02-24 23:42] #26 closed

[2018-02-24 23:58] #21 closed

[2018-02-24 23:59] #22 closed

[2018-02-24 23:59] #23 closed

[2018-02-25 00:00] #24 closed

[2018-02-25 00:02] bohnman opened #31 "Update documentation"

[2018-02-28 17:50] bohnman commented on #19
The development for this has been completed and will be available in the 2.0 release

[2018-02-28 17:50] #19 closed

[2018-02-28 17:50] #27 closed

[2018-02-28 17:50] #30 closed

[2018-02-28 22:21] passionate-developer commented on #19
Thanks.  When will 2.0 be released?

[2018-02-28 22:26] passionate-developer commented on #18
Excellent.  Just wondering if you know if your squiggly library code is used by any communities or other companies as well.  Cheers

[2018-03-01 01:18] #20 closed

[2018-03-01 08:07] atulmahajan05 opened #32 "Spring Integration."
Hi,

I'm using spring with XML config and I have filter on responsbody using responsebodyadvice wherein i create a nice tree to filter/replace node values which are access restricted. Now how can I configure and invoke squiggly here..

[2018-03-01 08:08] atulmahajan05 commented on #32
Please read nice as NODE jsonNode.

[2018-03-01 08:13] atulmahajan05 commented on #32
The way I'm handling is in beforeBodyWrite where I convert the responsebody to jsonNode and traverse through each one to check if the node contains specific pattern . If I get the pattern i replaces it with masking text or value.

[2018-03-01 15:10] bohnman commented on #32
@atulmahajan05 I'm not sure squiggly would work with actual JsonNode objects.  Squiggly is implemented as a Property Filter, which works on Arrays, Collections, Maps, and POJOs/Beans.   My guess is you would have to convert it back to one of these types before you could invoke Squiggly.

There's a method on ``ObjectMapper`` called ``treeToValue`` that will help you do this.

If you're still stuck

[2018-03-01 15:16] bohnman commented on #32
@atulmahajan05 The other thing I want to mention is that in a couple weeks, I will be releasing version 2.0, which will allow you the ability to manipulate json response.  So, you will be able to do something to do something like:

[code]

I wil keep your situation in mind before I release the new version

[2018-03-01 15:19] bohnman commented on #18
@passionate-developer That's a good question.  I am not sure what companies are using this library other than the one I work for , http://www.biohitech.com

[2018-03-01 15:22] bohnman commented on #19
2.0 is almost feature complete.  Then, it's javadocs, unit tests, and documentation until my eyes glaze over.  Hopefully, in a week or so.  I know I  keep saying that!

[2018-03-01 17:57] atulmahajan05 commented on #32
That will be awesome.. this is a practical situation where some response nodes or value from api's need to be kept access restricted or dropped. Jackson filter does work on the level 0 nodes but does not work over nested objects and collections. I'm  look forward to use squiggly for such nice out of the box features... Thanks once again.

Regards,
Atul

[2018-03-01 18:02] atulmahajan05 commented on #32
One more feature i was looking for is the way to provide operators within the request parameters..We don't use Spring Data which has the capabilities to integrate with rsql .. if you can build it with squiggly, I'm sure this will help a lot of folks...

[2018-03-01 18:27] bohnman commented on #32
@atulmahajan05 Version 2.0 will have this.

For example,  you will be able to write a filter like the following:

``friends.filter(firstName == "Ryan")``

[2018-03-06 01:21] bohnman opened #33 "Add support for Gson"
Add support for the gson library

[2018-03-06 01:21] bohnman commented on #33
available in 2.0

[2018-03-06 01:21] #33 closed

[2018-03-06 01:23] bohnman opened #34 "Add support for filtering JsonNode objects"
Add support for filtering JsonNode objects.  This is to help resolve #32 and will also help with CLI.

[2018-03-06 01:25] bohnman opened #35 "Add a CLI"
It would be great if squiggly could be used as a CLI, like jq

[2018-03-15 00:17] #35 closed

[2018-03-15 23:39] wirefreethought opened #36 "ConcurrentModificationException from 1.3.9"
I'm getting the following stack from 1.3.9 when attempting to invoke ObjectMapper.writeValueAsString (works fine in 1.3.8 and earlier):
[code]

[2018-03-15 23:55] bohnman commented on #36
@wirefreethought Can you provide the filter expression you were using?

[2018-03-16 01:22] wirefreethought commented on #36
@bohnman ``-data.country*,-data.region*,links*,metadata*``

[2018-03-16 01:56] bohnman commented on #36
@wirefreethought I released version 1.3.10, which should fix this issue.  Please close if you are satisfied with the fix.

[2018-03-16 16:28] wirefreethought commented on #36
@bohnman Fixed. Thanks for the quick turnaround.

[2018-03-16 16:28] #36 closed

[2018-03-17 17:34] #34 closed

[2018-03-19 11:46] celiovasconcelos opened #37 "Fancy spring-boot @RequestMapping integration"
First, I would like to congratulate you for this awesome library. You indeed are saving devs around the world.

I performed a spring-boot RequestMapping integration and I would like to share.

### Usage:

[code]

### Integration:

RestController uses a **global** object mapper, so wee need to configure it.

[code]

Creating the annotation.

[code]

Doing the magic.

[code]

What do you think addin

[2018-03-19 16:12] yinwerhong opened #38 "How to excluding nested fields?"
I got result object in json:

`{"code":"000000","data":{"createdAt":1519459033000,"id":1,"class":"fullpath.user.dto.UserDto","username":"test"},"message":"SUCCESS","class":"fullpath.result.Result"}`

I want to ignore class fields, then I found your awesome library in this way:

`SquigglyUtils.stringify(Squiggly.init(objectMapper, "-class"), result);`

then I got it in this (class field of outer la

[2018-03-19 18:29] bohnman commented on #38
Filters currently are not recursive (hoping to add this in version 2).

I think the following should work

``**,-class,data[-class]``

[2018-03-20 02:49] yinwerhong commented on #38
Thanks very much, it works very well, glad to see the futures in version 2.

[2018-03-20 02:49] #38 closed

[2018-03-20 13:02] bohnman commented on #37
I like it!  I've seen two major use cases for Squiggly.  One is to provide a way to allow a consumer of a REST endpoint to filter the data dynamically through a query string parameter.  The other is to allow pre-filtering of the data, like your example shows.

I'd like to figure out the best way to implement this for users who want to do both.  I'm working on version 2 of Squiggly and hope to have

[2018-03-21 14:17] celiovasconcelos commented on #37
If you reuse the object mapper like `@Autowired ObjectMapper objectMapper;` the first approach fails with:

[code]
So, the safer approach is:

[code]

[code]

[2018-04-16 15:56] Calvin-J-Scott commented on #18
@bohnman Hey mate just wondered if there was any update on how you was getting on with this?

[2018-04-16 17:33] passionate-developer commented on #18
Hi is there any limit on how many json fields can be included or excluded? Apparently it failed to respond after 62 fields were requested in include.

[2018-04-16 17:37] bohnman commented on #18
@passionate-developer There is not a limit set.   Could you provide more detail?  Thanks!

[2018-04-23 13:07] mas222r commented on #29
I have tested few of the scenarios with version 1.3.10. Almost all are passing in my TDD only one is failing .

Below is the scenario :
json against which test is tested
[test.txt](https://github.com/bohnman/squiggly-java/files/1938297/test.txt)

include : companyList.companySubGroupNames.companySubGrpGivenNames,companyList.directorsDetails,companyList.type

exclude :
companyList.companySubGroupNa

[2018-04-23 13:09] mas222r opened #39 "Re opening "exclude filter not working when json has array and nested arrays with in the array" issue"
I have tested few of the scenarios with version 1.3.10. Almost all are passing in my TDD only one is failing .

Below is the scenario :
json against which test is tested
[test.txt](https://github.com/bohnman/squiggly-java/files/1938305/test.txt)

include : companyList.companySubGroupNames.companySubGrpGivenNames,companyList.directorsDetails,companyList.type

exclude :
companyList.companySubGroupNa

[2018-04-23 23:56] bohnman commented on #39
Hi @mas222r,

I have pushed a change to master that should fix the issue.  Because you have a series of unit tests, would you be willing to test the change before I release a new version?

You can install squiggly into your local repo by running the following:

[code]

If you don't feel like testing, no problem, I can just release a new version.  Just wanted to avoid a potential back and forth.

T

[2018-04-24 07:28] mas222r commented on #39
Thanks Ryan.

[2018-04-24 15:03] mas222r commented on #18
@bohnman  is the manipulation of arrays is part of latest version?? if yes could you please elaborate how to use it .

I have used like below as per your above comments but got exception

includes = companyList.companySubGroupNames.companySubGrpGivenNames.slice(0,2)

java.lang.IllegalArgumentException: com.fasterxml.jackson.databind.JsonMappingException: line 1:62 extraneous input '(' expecting {<

[2018-04-26 10:42] mas222r commented on #39
Hi Ryan,

Is the new version released ? if not kindly let me know when it will get available.

Thanks,
Suboor

[2018-04-26 15:00] bohnman commented on #39
I just released 1.3.11 which should include the fix for this issue.

~Ryan

[2018-05-02 14:48] mas222r commented on #39
Hi Ryan,

As i am working on different secure environment i can't test all my json with new version of jar. i have executed the different set of json files with new version my earlier junit scenarios are getting failed now .

Sorry to say i can attach only one json here due to data issue and scenario mentioned below which is getting failed.
**Actual Json :**
[task-list.txt](https://github.com/bohn

[2018-05-02 15:00] mas222r commented on #39
2nd scenario is :
excludes only : taskId,taskData.taskDisName,taskData.taskFixId,taskIds

Expected Json is :
[task-list-expected2.txt](https://github.com/bohnman/squiggly-java/files/1967762/task-list-expected2.txt)

[2018-05-02 15:16] sahebpreet opened #40 "Squiggly not working with @JsonProperty"
I am trying to serialize a bean with fields having `@JsonProperty`, but it is not coming in response.

Example:
Model:
[code]
Response:
[code]
Expected response:
[code]

On digging through squiggly code, I found `SquigglyPropertyFilter.getPropertyName` is using `beanIntrospector` to get the property names and comparing it with the element name which is constructed through `BeanPropertyWriter` whic

[2018-05-02 15:31] bohnman commented on #39
Darn.  Back to the drawing board!

[2018-05-02 15:35] bohnman commented on #40
Seems to work for me.  I noticed that you are using Lombock, so maybe it has something to do with that?

[code]

[2018-05-02 18:31] sahebpreet commented on #40
@bohnman Thanks for your reply. Lombok doesn't seem to be a problem here. It is working with Lombok as well.

I missed to specify some of the configurations. I am using spring boot with following properties:

squiggly.properties:
[code]

Squiggly configuration
[code]

I have not specified any filter or fields in url.

I will debug this further.

Also, there was another nested field where this was

[2018-05-02 18:43] bohnman commented on #40
@sahebpreet

Here's the problem line in your code:

[code]

Here you are prefixing the filter with "data.", which means you would only every be including the data field.  If you want to include other fields you, can do something like the following:

[code]

Squiggly currently doesn't support JsonProperty in the constructor.  I'll will add a separate issue to track this.

[2018-05-02 18:45] bohnman opened #41 "Support @JsonProperty in the constructor"
Add support for @JsonProperty in the constructor as mentioned in issue #40.

[2018-05-02 18:49] sahebpreet commented on #40
Thanks a lot @bohnman it is working now.

[2018-05-02 18:49] #40 closed

[2018-05-04 16:00] andersonkxiass opened #42 "Invalid character found in the request target. The valid characters are defined in RFC 7230 and RFC 3986"
I'm getting the following error, when I use `field[sub_field]` pattern:

[code]

[2018-05-04 16:02] bohnman commented on #42
Can you provide the exact filter string you are using?

[2018-05-04 16:39] bohnman commented on #42
Well shoot.  It looks like Tomcat increased their security yet again in version 8.5.31  and no longer allows raw square brackets in the query string.

Here are the options you have:

1) encode the square brackets: ``field%5Bsub_field%5B``
2) use dot notation: field.sub_field1,field.sub_field2
3) use an older version of Tomcat 8.5.30 and below
4) enable raw curly braces.

[code]

Then you can do
``

[2018-05-09 08:04] mas222r commented on #39
Hi Bohnman,
Have you got any chance to look into the above issue?

Regards,
Suboor

[2018-05-09 20:46] mrshawn191 opened #43 "How to mask certain fields?"
Hi what would be the best approach if these are the requirements

1. Be able to mask any fields that start with email, phone (preferably with wildcard)
2. Depending on what field it is mask it differently

Basically I have several rest api and I want to modify the json response before its hitting the clients. So I think i need to add a filter that uses this library. But can this lib handle the req

[2018-05-09 21:03] bohnman commented on #43
In the current version (1.x), the only thing you can do include/exclude fields.

In version 2, you will able to modify the response, including masking fields.

[2018-05-11 07:03] mrshawn191 commented on #43
Thanks for the answer. Btw do u know any othet library that offer sum similar for java?

[2018-05-11 21:18] mrshawn191 opened #44 "wildcard with case-insensitive?"
Hi,

How do I get fields using wildcards with case-insensitive?

Pseudocode
[code]

[2018-05-11 22:43] mrshawn191 commented on #43
Thanks btw for an awesome lib.

[2018-05-11 23:41] bohnman commented on #43
You're welcome.  I do not know of another library that does field masking.

[2018-05-11 23:43] bohnman commented on #44
You can't do case-insensitive with wildcards, but you can do it with regular expressions

[code]

[2018-05-14 11:09] mas222r commented on #39
Thanks Ryan. I will wait for your workaround.

Regards,
Suboor

[2018-05-19 18:03] mrshawn191 commented on #43
Ok may i ask what you think would be the best approach to solve that?

[2018-06-02 08:16] Visanth opened #45 "Does squiggly support json path expression filter? Its good to have the standard way of filtering. Any comments?"

[2018-06-02 12:44] bohnman commented on #45
No, Squiggly does not support json path expression filter.  Squiggly was inspired by the filtering syntax in the [Facebook Graph API](https://developers.facebook.com/docs/graph-api/using-graph-api).  There are no plans to support the json path expression filter.

I actually disagree with the premise "It's good to have the standard way of filtering":

- standards stifle innovation.  If I follow a s

[2018-06-27 12:14] guilhermefarto opened #46 "Change 'fields' attribute name to other pattern"
Hello there.
I would like to know if is possible to change the 'fields' attribute name to some other pattern, e.g., 'attributes'?
All the best,

[2018-06-27 12:36] guilhermefarto commented on #46
I was able to resolve this need by passing parameters at initialization of the equestSquigglyContextProvider object, e.g., changing "fields" argument name to "attrs":

	@Bean
	public MappingJackson2HttpMessageConverter mappingJackson2HttpMessageConverter(ObjectMapper objectMapper) {
		Squiggly.init(objectMapper, new RequestSquigglyContextProvider("attrs", null) {
			...

[2018-06-27 12:36] #46 closed

[2018-07-03 13:08] bohnman commented on #19
I'm going to try to aim to get it done in September, hopefully earlier!

[2018-07-07 14:28] bohnman commented on #39
@mas222r I'm finally taking a look at this again.  Looking at this closer, I actually disagree with your expected output for your original post on Apr 23.

Let's revisit this:

include : companyList.companySubGroupNames.companySubGrpGivenNames,companyList.directorsDetails,companyList.type

exclude :
companyList.companySubGroupNames.companySubGrpGivenNames.createdDate,companyList.directorsDetails.q

[2018-07-07 15:19] bohnman commented on #39
Thinking about it more, I see a way that your expected result could be correct as well.

As mentioned previously, I interpreted your filter in the nested form as:

[code]

Another interpretation of the filter could be:

[code]
In the second interpretation, we include all the base fields except for the first element and last element in the dot path.  This would align more with your expected results

[2018-07-15 22:07] talvespe opened #47 "@JsonIdentityInfo and squiggly API"
Hi dude,

I'm Serializing bi-directional JPA entities to JSON with Jackson using the @JsonIdentityInfo
 perform serialization or deserialization using the identity of the object.

`@JsonIdentityInfo(generator = ObjectIdGenerators.IntSequenceGenerator.class, property = "@id")`

My business objects are complex and has many bi-directional relationships.
I've been testing your great work on the squigg

[2018-07-17 10:52] bohnman commented on #47
I have never used the @JsonIdentityInfo annotation.  I'll have to investigate this.

[2018-07-22 11:33] bohnman commented on #44
I'm closing this issue because I have provided an alternative to wildcards (regex), which allows you to do case insensitive matching.

[2018-07-22 11:33] #44 closed

[2018-07-22 11:37] #45 closed

[2018-08-21 13:27] rkcreddyt commented on #42
We found the same issue . After analyzing the issue , found the solution . Below are the details for issue and solution.

Issue: Tomcat (7.0.88) is throwing below exception which leads to 400 – Bad Request. java.lang.IllegalArgumentException: Invalid character found in the request target. The valid characters are defined in RFC 7230 and RFC 3986. This issue is occurring most of the tomcat versions

[2018-08-21 14:37] bohnman commented on #42
Thanks for the info!

Just to let you know, Squiggly 2 will have an alternative syntax, which will be more url-friendly.

[2018-09-13 09:47] ragutislt opened #49 "Allow ObjectMapper to be reused"
According to Jackson best practices, ObjectMapper should not be created for each serialization, instead, we should reuse it.

So far as I understand, we cannot reuse the ObjectMapper, since each time we use Squiggly, we add a property filter to the provided mapper and it is never removed. In this case it always has the same property filter, even for subsequent calls to Squiggly with the same mappe

[2018-09-13 12:04] bohnman commented on #49
An object mapper can be reused.  Most of the documentation uses a single static filter, which is really only useful for testing and, well, documentation.  Take a look at the Custom Integration section of the documentation, where it talks about filtering json from a query parameter in a web application.  Also, take a look at the examples directory, which have working samples of squiggly in web appl

[2018-09-19 10:56] timothy-mugayi opened #50 "In spring is there any where to ensure that the response is not transformed in the event of non HTTP 200 in rest calls"
For example if non error 200 response e.g 4xx the response may contain properties that fields inclusion list, is not able to match Is there a way to by pass response transformation so that certain responses are not affected by the field inclusion param?

[2018-09-20 01:55] bohnman commented on #50
@timothy-mugayi I have released version 1.3.12 of Squiggly, which will only apply the filter if the status code is 2xx.  To see this in action, I have updated the spring boot example.  After running ``mvn spring-boot:run`` and you ``curl http://localhost:8080/issues/ISSUE-1?fields=id``, you will see the fields being filtered.  However, if you ``curl http://localhost:8080/issues/foo?fields=id``, yo

[2018-09-20 02:34] bohnman commented on #50
@timothy-mugayi I have released another new version 1.3.13.  Upon review, I realized I was using a wildly outdated servlet spec, which didn't expose a getStatus method on the HttpServletResponse, causing me to create a response wrapper that did.  I updated the servlet api dependency, which eliminated the need for the wrapper.

[2018-09-20 04:54] timothy-mugayi commented on #50
@bohnman Thanks, will have a look

[2018-09-20 13:20] timothy-mugayi opened #51 "Stackoverflow when using Spring rest data with Self links"
[code]

[2018-09-20 13:29] bohnman commented on #51
Could you please provide part of the stack trace?

[2018-09-20 13:46] timothy-mugayi commented on #51
[code]

[2018-09-20 14:28] bohnman commented on #51
Would you be willing to attach a sample app exhibiting this issue?  I don't use JPA or spring data so it would be a tremendous help and would expedite a solution.

Thanks!

~Ryan

[2018-09-20 23:55] timothy-mugayi commented on #51
@bohnman , once i get some time will modify your spring example to replicate the same issue as issue am facing now is on a company project using @RepositoryRestResource spring annotation on repo class

[2018-09-21 00:20] bohnman commented on #51
@timothy-mugayi If you pull master, there's a new example called spring-data-rest, showing use of the ``@RespositoryRestResource`` annotation.  Unfortunately, I was unable to replicate your infinite recursion issue.  However, this may provide a good starting point that you can use to exhibit this issue.  My only thought is maybe there's a circular reference with one of your entities that the Jacks

[2018-09-21 00:40] timothy-mugayi commented on #51
The model has no circular dependencies seems Spring data rest adds these self referencing links back to the object
model looks as follows

[code]

[code]

[2018-09-21 01:11] bohnman commented on #51
@timothy-mugayi I still can't replicate the issue. The main difference between your code and my spring-data-rest example is that you're using lombok.  I tried that, but it didn't do anything.  Maybe different dependency versions?

https://github.com/bohnman/squiggly-java/tree/master/examples/spring-data-rest

[2018-09-21 01:33] timothy-mugayi commented on #51
@bohnman , sorry just noticed theres another indirect reference from another class to MyClass

[code]

[2018-09-24 13:29] bohnman commented on #51
@timothy-mugayi I tried this, but still couldn't replicate the issue.  I look forward to your example demonstrating this issue.

[2018-10-03 19:58] fabiojb commented on #28
I made a simpler way to configure Squiggly with spring-boot, see in:
https://gist.github.com/fabiojb/c22aaf4ec85ac0bad34c7a5a27fb2630

[2018-10-17 19:06] damascenol opened #53 "squiggly-java not recognized after deploy war file tomcat"
Hi,

When I use squiggly on development environment with embebed tomcat work as expected filtering fields. but when I build the war-file and add to external tomcat its not recognized and throw infinite recursion. Anyone know how to fix this?

- squiggly version: 1.3.14
- spring boot: 1.5.2

Tomcat 7 Java 8

Thank you

[2018-10-19 20:01] bohnman commented on #53
@damascenol Please take at look at examples/servlet.  Run ```mvn package``` and then unjar the squiggly.war to the ROOT webapp directory of your Tomcat instance .  Then follow the README.md in that directory to make curl requests to test it out.  You can also test in the browser, but remember to url encode the square brackets in the fields query parameter.

If you are still having trouble, please

[2018-10-20 08:06] damascenol commented on #53
Thanks, I can make it work now!

This is a great library.

[2018-10-20 08:06] #53 closed

[2018-11-09 04:30] rgampa opened #54 "Please share a working spring boot example"
I have followed the spring boot example, but it doesn't seem to filtering anything. Here is my code,

[code]

[code]

I am using guava v20.0 due to `springfox-swagger2` needs it.
[code]

The URL looks like `/product/12345678?fields=small`.

I have set property `filter.propagateViewToNestedFilters=true` and it's getting picked when running `SquigglyConfig.asMap()`

[2018-11-09 06:44] rgampa commented on #54
It appears the issue is due to below swagger code, If I comment out below spring configuration then Squiggly is getting invoked. Can you provide the fix please?

[code]

[2018-11-09 07:04] rgampa commented on #54
After modifying the swagger config to below it's working fine, so the issue seems to be extending `WebMvcConfigurationSupport` which seems to be redundant with sprint boot. Now both swagger and squiggly working fine.

[code]

I am working on spring boot for the first time, not sure why it breaks if `WebMvcConfigurationSupport` extended. I will dig deeper into it later.

[2018-11-09 14:04] bohnman commented on #54
Interesting.  Thanks for digging into this.  Much appreciated!

[2018-12-12 18:22] bohnman opened #55 "Create a Spring WebFlux example for Squiggly 1.x"
From: @jarpz

Hi I like so much your project. I know you are working in a new version of your lib. For stable reasons, I had to develop a filter that could support new spring boot webflux server like netty or jetty without servlet. I would like to share with you my implementation and receive your comments. I know could be inefficient because a I read and then rewrite the buffer applying the filter

[2018-12-12 18:23] bohnman commented on #55
Originally created in issue #54

[2018-12-12 18:53] bohnman commented on #55
@jparpz. Also, if you are interested in a solution that doesn't  re-read, parse, and write data to a byte[], you can look at the following file in the version 2 branch.  It's a bit of a hack, but it works (at least as of several months ago):

https://github.com/bohnman/squiggly-java/blob/2.x/squiggly-spring-boot-starter-jackson/src/main/java/com/github/bohnman/squiggly/spring/boot/starter/config/S

[2018-12-14 03:57] jarpz commented on #55
@bohnman thanks. I will fix it with your comments, them I'll try your "hack" :) and commented you.
Waiting for your new release
Regards.

[2019-01-04 09:18] DheerajKN opened #56 "How can I return Object instead of JSON String from Squiggly API"
Instead of returning a Simple JSON String, using `Squiggly.stringify` how can I return an Java Object after `ObjectMapper objectMapper = Squiggly.init(new ObjectMapper(), filter);` as been performed on the filter variables.

[2019-01-05 16:48] bohnman commented on #56
You can convert your object to a Map:

[code]

or a list of maps

[code]

However, I'd like to learn more about your use case.  Using Squiggly.init with a static filter is usually only useful for demonstration purposes.  Most people are using Squiggly in a web application.

[2019-01-17 05:05] DheerajKN commented on #56
After working with the given solution I have found that ObjectMapper inherently provides with convertValue() and readValue() functions that will take JSON String and .class value that will convert it into POJO.
`ObjectMapper objectMapper = Squiggly.init(new ObjectMapper(), filter);
User withRequiredValues = objectMapper.readValue(SquigglyUtils.stringify(objectMapper, userObject), User.class);`

[2019-01-17 05:09] DheerajKN commented on #56
But I was asking for some SquigglyUtils Method that can convert give POJO instead of converting it into String using stringify and then converting it into POJO using readValue().
Something like:
[code]

[2019-01-25 04:42] DheerajKN commented on #56
Now it's possible using `SquigglyUtils.objectify` method that accepts `ObjectMapper, someObject, someObject.class`.

[2019-01-25 04:43] #56 closed

[2019-01-28 15:18] bohnman commented on #56
@DheerajKN I have released version 1.3.15, which includes the new objectify methods.

[2019-01-28 15:20] DheerajKN commented on #56
Thanks @bohnman

[2019-02-04 17:33] bakko91 opened #60 "Handling hyphen/minus inside param name"
Hi everybody,

using squiggly in a spring-boot web app I got errors when I try to filter by fields that have a hyphen inside (e. g. test-name).
I know that it's a little bit out of standards have the hyphen in the param name but in my case, it's a customer's requirement.

I have the following configuration:
**pom.xml**
[code]

**ExampleObject.java**

[code]
**Application.java**
[code]
So, when I c

[2019-02-04 23:40] bakko91 commented on #60
@bohnman the new version works perfectly! Thank you very much!

[2019-02-04 23:40] #60 closed

[2019-02-10 20:07] bohnman commented on #50
I'm assuming this is fixed.  Please re-open if not.

[2019-02-10 20:07] #50 closed

[2019-02-10 20:09] bohnman commented on #49
I'm closing due to inactivity and I've already answered the question.

[2019-02-10 20:09] #49 closed

[2019-03-06 23:17] Althenar commented on #55
@bohnman this works great for filtering Flux objects, but what about Mono? Is it possible to apply squiggly to them?

[2019-03-07 02:13] bohnman commented on #55
@Althenar

The following works for me:

[code]

[2019-03-07 02:17] bohnman commented on #55
@Althenar I should clarify.  The solution I'm using with Mono is the one here:

https://github.com/bohnman/squiggly-java/blob/2.x/squiggly-spring-boot-starter-jackson/src/main/java/com/github/bohnman/squiggly/spring/boot/starter/config/SquigglyWebFluxAutoConfiguration.java

[2019-03-13 16:05] sarbajitdutta opened #61 "Make fields case insensitive"
Awesome job on the library.

I have a model object like this -

[code]

I would like to search for all datePublicationAddedToEntrez like so
**reciterarticlefeatures.datepublicationaddedtoentrez** instead of
**reCiterArticleFeatures.datePublicationAddedToEntrez**

Thus making it search by fields case insensitive as long as the field name is spelled correctly and has the correct nested path.

[2019-03-13 16:16] sarbajitdutta commented on #61
Also, is it possible to filter by specific field values along with field names. Something like
http://hostname/api?filter=name('John')

[2019-03-13 22:07] bohnman commented on #61
@sarbajitdutta

Regarding case insensitivity, I will consider this as a configuration option for version 2.

Regarding filtering by field values, this is not possible now, but will be in version 2.

No, I do not have a time frame for version 2 to be released. :-)

[2019-03-26 11:23] ahoffskov commented on #42
Solved my problem with querying an ERDDAP server. Thank you very much :-)

[2019-04-10 15:54] fenjen commented on #50
@bohnman This is a very clever feature, but I have a problem using it. I'm going to describe what happens here.

**Setting**
The request URL doesn't exist (404), and my response entity to that shall be a Map with the values "details", "message" and "time" (showing the user what was wrong with the request). Of course, I don't want Squiggly to filter these values.

**Problem**
Now if I do specify "?

[2019-04-10 17:50] bohnman commented on #50
@fenjen

Great detail in explaining your issue!  Unfortunately, I've never used Jersey before so I'm not familiar with its internals.  However, if you would be able to provide me with a zip of a minimal Maven project exhibiting this behavior, I'd be happy to look into it!

[2019-04-15 21:13] fenjen commented on #50
@bohnman Yep. Please tell me, if you need more.

[squiggly.issue_50.zip](https://github.com/bohnman/squiggly-java/files/3082089/squiggly.issue_50.zip)

[2019-04-21 17:01] bohnman commented on #50
@fenjen

I have released version 1.3.17.

 I have 2 solutions for you:

[fix1.zip](https://github.com/bohnman/squiggly-java/files/3101415/fix1.zip)

fix1 uses a ContainerResponseFilter to set the real status code as a request attribute, which squiggly then checks.

[fix2.zip](https://github.com/bohnman/squiggly-java/files/3101418/fix2.zip)

fix2 uses a custom error object and then Squiggly turns o

[2019-04-24 14:36] jgacp opened #62 "Error excluding fields when a class is annotated with @JsonTypeInfo"
I have a spring boot service wich returns a complex json with one class annotated with _@JsonTypeInfo(use = JsonTypeInfo.Id.MINIMAL_CLASS, include = JsonTypeInfo.As.PROPERTY, property = "@class")_ because is extended by other two classes.
For example in this json, the attachment attribute:

{
  "id": "ISSUE-1",
  "issueSummary": "Dragons Need Fed",
  "issueDetails": "I need my dragons fed pronto."

[2019-04-24 16:01] bohnman commented on #62
@jgacp

First, I want to thank you for providing a working example right away.  It saves me a ton of time!

Now to your issue.  When you have the filter "-properties", Squiggly actually expands the filter to "base,-properties".  There is code that determines which fields are considered "base" fields.  It looks like there is an issue with this logic, that I'll have to address.

In the meantime, you

[2019-04-25 10:00] jgacp commented on #62
Thank you @bohnman

I tested the workaround and in the working example is right! but in my real project I have the same problem sending fields with "**,", I dont know why yet. I will test in the next days.

[2019-04-25 15:26] bohnman commented on #62
@jgacp Are you using nested filters like **,someProperty[-someValue]?

[2019-04-25 17:03] jgacp commented on #62
@bohnman in this case I am using fields=**,-customer.contactMedia

[2019-04-25 17:24] bohnman commented on #62
@jgacp You have me stumped!  I can't see to reproduce the issue.  I welcome your insight!

[2019-04-26 07:16] fenjen commented on #50
@bohnman Thank you very much! That works!

[2019-04-27 17:41] jgacp commented on #62
Hello @bohnman,

I tested with my real interface and I send you one example with filter "**,-customer.conctactMedia" problem.
You can invoke using the next url "http://localhost:8080/test?fields=**,-customer.contactMedia"

Thanks!!
[spring-boot.zip](https://github.com/bohnman/squiggly-java/files/3124175/spring-boot.zip)

[2019-04-28 13:46] jgacp commented on #62
Hi @bohnman,

The problem is not in your code, the problem is when JsonGenerator is instanciate. In case of attributes in "attachment", the sentence "getOutputContext().getParent().getCurrentValue()" return "MailAttachment" instead of "Issue".
Do you know if I could set objectMapper to instanciate the correct JsonGenerator?

[2019-04-30 14:03] bohnman commented on #62
@jgacp Not that I know of.  However, I do have a fix in mind.  I was hoping to give you a workaround in the mean time.  However, it looks like I'll have to get off my lazy butt and fix it.

[2019-05-03 07:12] jgacp commented on #62
Thank you @bohnman I wait for news

[2019-05-29 13:50] LeonardoChirivi opened #63 "The library non filterin JsonNode"
I have a JsonNode that looks like this `{"codeA":"L736","codeB":"027042","boolVal":false,"uuid":"00000000-0000-0001-0000-000000000001"}`

My filter is a String like this: `"codeA,boolVal"`.

I'm feeding these inputs to this function:

    public String filter(JsonNode jsonNode, String filters) {
        ObjectMapper objectMapper = Squiggly.init(new ObjectMapper(), filters);
        return Squiggly

[2019-05-29 14:15] bohnman commented on #63
@LeonardoChirivi Squiggly 1 is implemented as a SimpleBeanPropertyFilter, which does not support JsonNode objects. Squiggly 2 will allow you to do this, but I have no time frame on when it will be released (maybe by end of summer).

One more note.  I noticed that your method creates a new ObjectMapper and initializes Squiggly on every call.  This is fairly expensive (and will become more expensive

[2019-05-29 14:24] LeonardoChirivi commented on #63
Hi @bohnman thanks for the reply!
What object may I use instead of JsonNode?

[2019-05-29 15:23] bohnman commented on #63
@LeonardoChirivi You can use any Bean/POJO (with getters) or a Map. You can also use collections of beans/maps as well.

I have released version 1.3.18, which adds a new context provider: ThreadLocalContextProvider.  Now, you can use this to apply a filter without incurring the cost of creating an object mapper.

Here's an example of how to use it.

[code]

[2019-05-30 07:49] LeonardoChirivi commented on #63
That's great. However I don't have the possibility to use POJOs in my case.
The JSON coming in has a fixed structure, but the filters nedd to be dynamically set by the users. Therefore I can't code all the POJOS  to cover all cases!

I think I'll be looking forward for version 2!

[2019-05-30 12:58] bohnman commented on #63
@LeonardoChirivi  I'm not sure I understand your use case.

If you expect the JSON to be filtered as you are reading it and you want a filtered representation of the JSON to work with, I can kind of see where you're coming from.

However, If you are just reading in JSON and then serializing it to a String like you provided in your example, why can't you use a POJO (if it's a fixed structure) or a

[2019-06-07 09:05] drenda opened #64 "More documentation on Squiggly>Spring Data REST and HATEOAS integration"
Hi,
first of all congratulations for your library. It's very cool and useful.

My application uses Spring Boot 2, Spring Data REST, Spring HATEOAS, Hibernate, etc...

Because Spring Data REST exposes repositories automatically I would like to take advantage of that without the need to write a custom controller.

I had a look to your Spring boot example and to [this project ](https://github.com/fra

[2019-06-07 18:57] bohnman commented on #64
@drenda

"It seems a bit odd."

Do you mean that it's really verbose to specify other those fields?  You can use the nested syntax as described [here](https://github.com/bohnman/squiggly-java#nested-filters).

In your case it would be something like:
[code]

PLEASE NOTE:

You may have to url encode the fields filter.  It may be something like this:

[code]

I know that it looks ugly.  However, in

[2019-06-07 20:59] drenda commented on #64
Yeah, it's quite verbose. I already thought about the nested syntax, but as you pointed out is a bit ugly. I'm looking forward the upcoming Squiggly then!

Another thought: should Squiggly be aware of Hateoas? Is other words, when I'm filtering should I work only inside the HATEOAS structure and write just bean fields like ?fields=sid,fullName

Is that possible, and above all, does it make sense?

[2019-07-12 15:20] cmercer opened #65 "Iterable not working correctly"
Iterable does not seem to be handled correctly with squiggly.

A good example of this is with spring's Sort.
If I had squiggly "installed" it comes out like this.
[code]
If I remove squiggly it comes out like this
[code]

[2019-07-12 21:20] bohnman commented on #65
Please post a sample project exhibiting this behavior.

Thanks!

[2019-07-15 15:16] cmercer opened #66 "Adding fields to baseview"
I have a defined baseview that works well as defaults but I have situations where the requester wants to add a few fields.  There doesn't seem to be a good way to do that.

[code]
Means that only customer gets returned.  What I am looking for is to dynamically add to the baseview with something like this.
[code]
It might be functionality already there and I am missing it.

[2019-07-15 15:49] cmercer commented on #66
after looking at this more I was missing it.
[code]

[2019-07-15 15:49] #66 closed

[2019-07-15 15:49] bohnman commented on #66
You be able to do the following:

[code]

[2019-07-15 15:50] cmercer commented on #66
Thanks I found it it right as you commented.

[2019-07-17 02:11] cmercer commented on #65
I added a test project at https://github.com/cmercer/squiggly-iterable-test

Some things I found

There is a bit of conflict between versions of Spring Boot/Spring Data around the Sort object being Iterable (1.X) vs Streamable (2.X).  So long as you are running Spring Data 2 and Spring Boot 2 Sort comes out fine but in Spring Data 1 and Spring Boot 1 it fails.  So while I think squiggly still has

[2019-07-18 12:02] bohnman commented on #65
@cmercer Thank you for providing a test project!

This seems to be an issue with jackson.  To eliminate Squiggly as a cause, I created a class that simply extended SimpleBeanPropertyFilter like so:

[code]

I also created a mixin:

[code]

I registered both classes in your test class.

[code]

This exhibited the same issue as when using Squiggly.init.  This would indicate a bug with jackson.

As a

[2019-07-18 13:20] cmercer commented on #65
Unfortunately this doesn't help me because its not one of my objects that I am having trouble with but one of Spring's classes org.springframework.data.domain.Sort which is used by org.springframework.data.domain.Page.

I don't have a good feeling for this being fixed in Jackson since its not fixed in spring boot 2.0.  I will do some more testing and debugging and try and see and find a possible f

[2019-07-18 14:35] bohnman commented on #65
@cmercer  I have attached a revised version of your project that uses a custom serializer for Person, but still goes through Squiggly filtering and also makes the tests pass.  This is why in PersonSerializer, you see me convert a Person to a map first.  Otherwise, the serializer would bypass Squiggly.

I hope this provides some inspiration for you regarding a solution.

[squiggly-iterable-test.zip

[2019-07-25 20:34] cmercer commented on #65
I've tried chasing this down for a fix or a good workaround and have not succeeded.  (going to a map doesn't work because the amount of data could be large).

I made as simple of a test case as I could and submitted an issue to jackson.

https://github.com/FasterXML/jackson-databind/issues/2390

[2019-07-28 01:18] bohnman commented on #65
@cmercer Awesome!  Thanks for your diligence!

[2019-08-14 16:05] fathzer opened #67 "Strange behaviour with spring-boot (or jackson-databind:2.9.9)"
Here is a simple example to reproduce the problem:

[code]
The non filtered object is: {"items":[{"set":[],"id":"id"}]}
The program filters it with the "items[**]" and "items" filters.
If the only dependency in the pom is squiggly library (version 1.3.18), anything is fine and the output is the one expected:

Now, if we add the spring-boot-parent in the pom
[code]
The output become:

The "items" f

[2019-08-19 15:10] fathzer opened #68 "How to report invalid filter expression?"
I use squiggly in a SpringBoot web service.
When a client sends an invalid filtering expression, SquigglyParser sends a org.antlr.v4.runtime.misc.ParseCancellationException which is caught by Jackson, converted to a JSonMappingException and finally to a HttpMessageNotWritableException that results in a http 500 error ... which is very far from the problem.

First, I catched the HttpMessageNotWrita

[2019-08-19 17:31] seanhawk commented on #64
Hi @drenda, did you need to make any changes to https://github.com/frankie-2e/squiggly-poc/ to make it work? It doesn't work for me.

Thanks!

[2019-08-19 18:09] bohnman commented on #68
In version 2 (not out yet), I have a custom exception.  However, in version 1, doing what you describe will work.

[2019-08-20 08:04] fathzer commented on #68
Thanks a lot for the fast answer ... and for this very useful piece of code :-)

[2019-08-20 08:04] #68 closed

[2019-09-26 01:58] xak2000 commented on #42
@bohnman

Small fix: `%5B` and `%5D`.

And, just a question: if we need to encode the symbols anyway, why not use `{` (`%7B`) and `}` (`%7D`) instead of `[` (`%5B`) and `]` (`%5D`)? What type of braces should be preferred if we must encode them anyway? I understand that `squiggly` support both, but still interested if there any reason to prefer one to the other.

Where can I find any info about ne

[2019-09-26 02:15] bohnman commented on #42
@xak2000 Good catch!  I have updated my comment.  There's no reason to prefer square brackets over curly braces.  Historically, when Squiggly was first released, Tomcat allowed curly braces to be unescaped.  Then, they forced escaping curly braces so I switched to square brackets, which they subsequently forbid.

The new syntax will use parentheses like so:

[code]

The best way to find info on th

[2019-09-26 03:42] xak2000 commented on #19
These estimate looks really funny in retrospective. :-)

But I understand you really well! I'm "master of the estimation" too! ))

[2019-09-26 04:11] bohnman commented on #67
@fathzer Sorry for the late reply.  This turned out to be a bug in Jackson. I have submitted the following issue in the project:

https://github.com/FasterXML/jackson-databind/issues/2475

[2019-09-30 01:30] bohnman commented on #67
Looks like this issue will be fixed starting in Jackson version 2.10.1

[2019-10-02 04:53] cmercer commented on #65
Follow up on this.

Long story short its fixed and works correctly with jackson 2.10.0/spring framework 5.2/latest spring boot 2.2.0 snapshot.

jackson 2.10.0 was released with the fix for [FasterXML/jackson-databind#2390](https://github.com/FasterXML/jackson-databind/issues/2390)

I added a branch to https://github.com/cmercer/squiggly-iterable-test https://github.com/cmercer/squiggly-iterable-te

[2019-10-07 07:46] saurabhks-fixstream opened #69 "Squiggly not working when prefix or suffix is used with JsonUnwrapped"
Here is a simple example to reproduce the problem:

import com.fasterxml.jackson.annotation.JsonUnwrapped;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.github.bohnman.squiggly.Squiggly;
import com.github.bohnman.squiggly.util.SquigglyUtils;

public class SquigglyTest {

    public static void main(String[] args) {
        InnerClass innerClass = new InnerClass();
        innerCla

[2019-10-09 07:07] pravinpr commented on #69
@bohnman Could you please comment?

[2019-10-14 12:10] pravinpr commented on #69
Thanks for your response!
Awaiting your further comments.

[2019-10-29 05:37] XQDD opened #70 "Why not offer pojo?"
#### My custom response ResultMessage<T> is a generic type, I need to get filter according to different \<T>, is that use `Class beanClass` for performance purpose etc?

![image](https://user-images.githubusercontent.com/20871761/67740407-a8eddf80-fa50-11e9-827c-632c542b064f.png)

![image](https://user-images.githubusercontent.com/20871761/67740337-67f5cb00-fa50-11e9-8599-2618007caa7e.png)

[2019-10-29 06:14] XQDD commented on #70
#### And Current solution for me:
### Config
[code]
### ResultMessage
[code]

### PageVo<T>
[code]

[2019-10-29 13:43] pravinpr commented on #69
Any update @bohnman ?

[2019-11-04 15:36] cen1 opened #71 "Lift guava dependency"
Hi,
I am having some conflicts with OpenAPI dependency which pulls in guava 27. I tried with maven exclusion and latest guava 28 and the most rudimentary tests with squiggly seem to work fine. If dependency could be lifted to something newer one day that'd be great.

PS: this project is absolutely amazing and a must have for any Jackson user! I used to do a similar (but worse) custom solution unti

[2019-11-04 21:55] bohnman commented on #71
@cen1 Actually, in version 2 (whenever that comes out), the dependency on guava is removed. Glad  you like it!

[2019-11-13 17:41] fathzer commented on #67
Hi,
Jackson 2.10.1 was released ... and it fixed it.
Thanks a lot :-)

[2019-11-13 17:41] #67 closed

[2019-11-18 07:19] maxliu007 opened #73 "Encounter ParseCancellationException with filer=i*"
When I tried to select fields with wildcard like that "fields=i*",  I encountered error.
**There is no problem when I tried to use other filters, like id*, h* and c* but not i*.**
Here is the simplified code:
[code]

Here is the error:
[code]

[2019-11-18 07:22] maxliu007 commented on #73
Provided that I am using :
	<dependency>
            <groupId>com.github.bohnman</groupId>
            <artifactId>squiggly-filter-jackson</artifactId>
            <version>1.3.18</version>
        </dependency>

[2019-11-21 02:18] bohnman commented on #73
I found the cause.  I'm currently pondering the proper fix.

[2019-12-19 08:33] Rgkol commented on #18
@bohnman
Hello, I guess the version 2.0 with the array manipulation was never released?
Or am I missing something?

[2020-01-08 06:48] XQDD commented on #38
Any update for this(recursive filter)?

[2020-01-24 14:01] vital-ivanou opened #74 "Attributes with underscore are lost for PropertyNamingStrategy.SNAKE_CASE"
Hi Ryan,

We're using ObjectMapper configured with PropertyNamingStrategy.SNAKE_CASE. And any time I apply any filter using the library, all the attributes (on any level) with underscore symbol in names are filtered out from the response :(

Is there any workaround I missed?

Thanks in advance.

P.S. Many thanks for such a great library.

[2020-01-28 13:42] #74 closed

[2020-05-03 12:03] igrinblat opened #77 "Same Field From Different Nested Objects recursively"
Does the framework support filtering fields with the same name without specifying the full path?

[2020-05-03 15:02] sittont commented on #77
As an example we have Item object which has item array as member. e.g.
{
  "Item": [
    {
      "id" : "123",
      "Item": [
        {
          "id" : "456",
          "Item": [
            {
            "id" : "789"
            }
          ]
        }
      ]
    }
  ]
}

[2020-05-26 23:44] dlxu opened #79 "[CVE-2019-10086] Are you using commons-beanutils"
In the pom.xml, there is a section regarding commons-benutils:
https://github.com/bohnman/squiggly/blob/78598ffffeebeb8536c6056de0e77ab463abbdb1/pom.xml#L74-L78

This version of cmmons-benutils has security vulnerability [CVE-2019-10086](https://vuln.whitesourcesoftware.com/vulnerability/CVE-2019-10086)

I did a quick scan of code, it does not seem you are using it or it is pulled in by other depe

[2020-06-25 14:58] edumrodrigues opened #80 "Squiggly not working properly with Spring HATEOAS 1.0"
After upgrading Spring HATEOAS to 1.0 version, I could not filter with Squiggly anymore if I use HATEOAS + HAL standard in my response.

I'm using Spring Boot 2.2.2.RELEASE and the spring-boot-starter-hateoas dependency, that gives me the Spring HATEOAS 1.0.2.RELEASE version.

When I put some filter pattern in the request, the response is not filtered and I receive all fields in the response. I th

[2020-07-29 18:09] lucksjb opened #81 "Squiggly with java14 + springfox 2.9.2"
when I put dependency on pom and try execute the follow error :

Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
[2m2020-07-29 14:58:18.749[0;39m [31mERROR [,,,][0;39m [35m17056[0;39m [2m---[0;39m [2m[  restartedMain][0;39m [36mo.s.b.d.LoggingFailureAnalysisReporter  [0;39m [2m:[0;39m

***************************
APPLIC

[2020-08-27 16:05] PaulVaquer commented on #80
Same problem here.

I'm using Spring Boot 2.3.1.RELEASE with the spring-boot-starter-hateoas dependency (spring-hateoas 1.1.0) and Squiggly 1.3.18.

Has anyone found a solution?

[2020-09-14 16:06] ceciliagalarza opened #82 "[CVE-2019-12086] Bump jackson-databind from 2.6.4 to 2.9.10.4"
Hi! I've noticed you have an [opened PR](https://github.com/bohnman/squiggly/pull/78) upgrading the jackson-databind version. I was wondering if you're going to merge it soon, because this would resolve the [CVE-2019-12086](https://nvd.nist.gov/vuln/detail/CVE-2019-12086) vulnerability.
Thanks,
Regards.

[2020-09-17 19:50] manojkr001 opened #83 "Issue External Tomcat"
Every thing is working absolutely as per the example given at :
[https://github.com/bohnman/squiggly/blob/master/examples/spring-boot/src/main/java/com/github/bohnman/squiggly/examples/springboot/Application.java](spring boot example) till we are in embedded tomcat container with spring boot as soon as I deployed the code in external tomcat as expected main method is not getting executed . I follo

[2020-10-09 10:24] Lolret opened #84 "ParseCancellationException with filer by field name with @"
POJO
[code]

Code:
[code]

Error:
[code]

pom.xml

[code]

[2020-11-06 08:05] kannangce opened #86 "Are the filter fields available as thread-loacal?"
The `field` filters are needed as part of my code, in which I'll be required to include the filter param to my endpoint mapping.

Is there a way that squiggly offers a thread-local for it to be used inside the application, or a hook in which we can populate the field filters for any request?

[2021-03-19 12:25] dquiroga commented on #80
Hi, @edumrodrigues!   did you get a workaround?

[2021-03-21 12:33] TomDmitriev opened #88 "tomcat 10 support"
Is there any plans for a version which can be used in an app deployed onto tomcat 10? The current version needs to be migrated with [tomcat-jakartaee-migration tool](https://github.com/apache/tomcat-jakartaee-migration).

[2021-03-21 14:22] bohnman commented on #88
@TomDmitriev Can you be more specific? What about Squiggly is incompatible with Tomcat 10?

[2021-03-23 10:44] gnespolino commented on #86
I just started to include squiggly in a project to test if it is suitable for our use cases. Filters can be customized per-request when initializing objectMapper using `RequestSquigglyContextProvider` like this:

[code]

[2021-03-23 10:48] gnespolino commented on #83
Yes, you can:
[code]

then you need to configure ObjectMapper to use SquigglyPropertyFilter:

[code]

[2021-05-17 15:01] aritzbastida commented on #62
Hi, we've got a simillar issue. Any news on this??

[2021-06-02 06:59] aganesh9 opened #89 "Possible multithreading issues - Tomcat 8, Java 8"
Hi,
I am using squiggly in a spring boot application hosted in an external tomcat server. Sometimes the object mapper reduces my JSON to an empty JSON even if the original payload has all the attributes my mapper looks for. If I re-run the squiggly command on local server, it goes through, and is only reproducible in a high traffic multithreaded environment. Rate of occurrence is very low but the

[2021-11-08 17:42] chicobento commented on #84
Sorry, I know its an old issue, but I'll leave a workaround for future visitors.
The cause seems to be the limitation with the chars supported in field names: https://github.com/bohnman/squiggly/blob/78598ffffeebeb8536c6056de0e77ab463abbdb1/src/main/antlr4/com/github/bohnman/squiggly/parser/antlr4/SquigglyExpression.g4#L102

So if you treat the filter as a regex it should work. Something like:

`f

[2021-11-12 13:18] manish-bharti-cashify commented on #18
@bohnman
Hello. Is the version with Array manipulation released?
I am not able to find the slice or pick function.

[2022-06-02 18:36] chicobento commented on #79
Im facing the same problem. To make things worst, beanutils brings commons-logging and commons-collections which are unecessary deps. Im just excluding it for now.